OPUS should have two channels in RTSP

This is causing WebRTC playback not to work in go2rtc.

See https://github.com/AlexxIT/go2rtc/issues/1506#issuecomment-2543135661

It should also work on mono.
If using only one source (one mic) there is no need to send same data twice, and the whole of the bitrate (instead of half) can be used by the opus codec to encode more detail for that mono channel using the same bandwidth.

The issue is that according to https://datatracker.ietf.org/doc/html/rfc7587#section-7 the `rtpmap` in the SDP should always be `opus/48000/2` (instead of `opus/48000/1`) regardless of sending one or two channels, and leaving that to the codec.

Got it. That's good.

I don't own a Wyzecam, if you want to try it might be as easy as to hardcode the channel number https://github.com/gtxaspec/prudynt-t/blob/76da861f942fad77fff229618c4442892edbc463/src/IMPAudioServerMediaSubsession.cpp#L81C9-L81C29 and make a custom build to check. Else the issue lies in live555.

I am confident it will work, but if go2rtc could make it work instead it would be better.

If the spec allows 1 channel, is this a go2rtc problem? This was on my internal roadmap... 

I have same issue with mediamtx. It can't handle sdp with "OPUS/48000" without channel number. See https://github.com/bluenviron/mediamtx/issues/4046

This has been fixed in go2rtc. I think we should close this issue, @gtxaspec.

Why ignoring the spec that clearly says that channel number must be 2? So go2rtc was compliant with spec and prudynt-t was not. Now both are not compliant.

It doesn't seem like prudynt is the only one. Check my latest comment in the go2rtc issue.

Also, we can probably convey it's a good thing that prudynt isn't following this spec. For the sake of data optimization.

MediaMTX guys refused to do anything with it because they follow the spec and imo it's fair. Spec should be the source of truth otherwise there would be endless incompatibilities. Like Mediamtx and prudynt now. 

Got it. Maybe there should be an option in prudynt for this then.

http://opus-codec.org/ says that opus can handle both mono and stereo. Where is it mandated that it requires two channels?

Here is an excerpt from RFC 6716

> 2.1.2. Number of Channels (Mono/Stereo) Opus can transmit either mono or stereo frames within a single stream. When decoding a mono frame in a stereo decoder, the left and right channels are identical, and when decoding a stereo frame in a mono decoder, the mono output is the average of the left and right channels. In some cases, it is desirable to encode a stereo input stream in mono (e.g., because the bitrate is too low to encode stereo with sufficient quality). The number of channels encoded can be selected in real-time, but by default the reference encoder attempts to make the best decision possible given the current bitrate.

> Where is it mandated that it requires two channels?
RFC 7587 section 7

right,
```
  o  The media subtype ("opus") goes in SDP "a=rtpmap" as the encoding
      name.  The RTP clock rate in "a=rtpmap" MUST be 48000, and the
      number of channels MUST be 2.```
i do remember reading this.  we should comply with the spec. so thanks to go2rtc for making a fix, we'll need to look into fixing this in prudynt the right way too.

Also there is no need to actually supply two channels in the feed, just in sdp data so no double audio bandwidth.

please check the latest builds, you can use "force_stereo" in the config.  also lots of stability and audio fixes.

Thank you guys. Mediamtx is able to record the stream out of the box now.